current-week {

}

.day-card-header {
	color: color($colors, primary);
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid color($colors, primary);
}

.day-card-content {
	height: 150px;
}

.day-card-badge {
	position: absolute;
  right: 33px;
  top: 33px;
}

.day-card-add-button {
  position: absolute;
  width: 19px !important;
  height: 19px !important;
  right: 70px;
  top: 29px;
  font-size: 12px;
}

.add-task-button {
	margin-right: 30px;
}

.day-card-content > .scroll-content {
	padding: 0px !important;
}

.task {
	border-bottom: 1px solid #C8C7CC;
}

.task-options {
	border-bottom: none !important;
}

.task-actions {
  .ion-md-checkmark {
    color: #009688;
  }
  .ion-md-build {
    color: #FF9800;
  }
  .action-sheet-destructive ion-icon {
    color: #F44336;
  }
}

.task-done {
	text-decoration: line-through;
	font-style: italic;
	color: #b1b1b1;
}