<ion-header>
  <ion-navbar color="primary">
    <button ion-button light menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>This week</ion-title>

		<!--<ion-buttons end>
      <button ion-button outline icon-left class="add-task-button" (click)="addTask()">
			  <ion-icon name="add"></ion-icon>
			  Add Task
			</button>
    </ion-buttons>-->
    
  </ion-navbar>
</ion-header>


<ion-content padding>

	<ion-grid>
	  <ion-row>

			<ion-col *ngFor="let day of days" col-12 [attr.col-lg-3]="(day.width === 'col-lg-3') ? '' : null" [attr.col-lg-4]="(day.width === 'col-lg-4') ? '' : null">

				<ion-card >
					<ion-card-header class="day-card-header">
				    {{ day.title }}

				    <ion-badge color="secondary" class="day-card-badge">{{ (day.tasks | async)?.length }}</ion-badge>

				    <button ion-button icon-only outline small class="day-card-add-button" (click)="addTask(day.title)">
              <ion-icon name="add" color="primary"></ion-icon>
            </button>
				  </ion-card-header>

			  	<ion-scroll scrollX="true" scrollY="true" class="day-card-content">
					  
					  <ion-list>
							<ion-item-sliding *ngFor="let task of day.tasks | async" class="task" (click)="openTaskActions(task.$key, task.description, task.day, task.done)" >

						    <ion-item title="{{ task.description }}" [class.task-done]="task.done">
						      {{ task.description }}
						    </ion-item>

						    <ion-item-options class="task-options">
	                <button ion-button icon-only (click)="toggleTask(task.$key, task.day, task.done)" color="light">
                    <ion-icon name="checkmark" color="positive"></ion-icon>
	                </button>
	                <button ion-button icon-only (click)="editTask(task.$key, task.description, task.day)" color="light">
                    <ion-icon name="build" color="extra"></ion-icon>
	                </button>
	                <button ion-button icon-only (click)="deleteTask(task.$key, task.day)" color="light">
                    <ion-icon name="trash" color="danger"></ion-icon>
	                </button>
		            </ion-item-options>
							</ion-item-sliding>
				    </ion-list>

				  </ion-scroll>

				</ion-card>

			</ion-col>

		</ion-row>
	</ion-grid>

	<ion-fab right bottom>
    <button ion-fab color="primary" fab-content-margin="30px" (click)="addTask()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>	
